$headerFont: 'Oswald',
sans-serif;
body {
    background-color: #f1f1f1;
}

#topHeader {}

#header {
    * {
        margin-left: 3.5%;
        width: 94%;
    }
    h1 {
        text-align: center;
        padding: 10% 0;
        background-color: black;
        box-shadow: 0px 10px 5px #888888;
        font-size: 50px;
        font-family: $headerFont;
        color: white
    }
}

#app {
    * {
        background-color: white;
        display: -webkit-flex;
        display: flex;
        height: 250px;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (min-width: 864px){
        	margin-left:2%;
        }

    }
    
    div {
    	padding: 2%;
    	:hover {
    		cursor: pointer;
    	}

    }

    h1 {
        display: none;
    }

    > div img {
    	border: 1px dotted blue;
    	max-width: 100%;
    }
}
