$backColor: red;
$headerFont: 'Oswald', sans-serif;

#header {
    h1 {
        text-align: center;
        padding: 10% 0;
        background-color: black;
        box-shadow: 0px 10px 5px #888888;
        font-size:65px;
        font-family: $headerFont;
        color: white
    }
}

#app {
	h1 {
		display: none;
	}
}