$headerFont: 'Oswald', sans-serif;

body {
    background-color: #f1f1f1;
}

#topHeader {
    div {
        padding: 1%;
        background-color: white;
        position: fixed;
        width: 100%;
        height: 58px;
        top: 0;
        left: 0;
        right: 0;
    }

    img {
        left: 31%;
        position: absolute;
        @media screen and (min-width: 489px){
            left:37%;
            animation-duration: 1.42s;
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-delay: 1s;
            animation-name: example;
            animation-fill-mode: forwards;

            @keyframes example {
                from {left: 37%;;}
                to {left: 8.625rem;}
            }
        }

        @media screen and (min-width: 767px){
            left:40%;
        }  
    }


}

#header {
    * {
        margin-left: 3.5%;
        width: 94%;
    }

    
    h1 {
        text-align: center;
        padding: 10% 0;
        background-color: black;
        box-shadow: 0px 8px 10px #551A8B;
        font-size: 50px;
        font-family: $headerFont;
        color: white
    }
}

#app {
    #app {
        @media screen and (min-width: 864px){
        	margin-left:2%;
        }

    }
    
    div {
    padding: 2%
    }

    div > h1:hover {
        opacity: 1;
    }

    > div {
    	:hover + h1 {
    		cursor: pointer;
            opacity: 1;
    	};
        display: flex;
        flex-wrap: wrap;
        display: -webkit-flex;
        justify-content: center;

    }

    h1 {
        font-size: 28px;
        opacity: 0;
    }

    > div img {
    	border: 1px dotted blue;
        max-height: 300px;
    	
    }
}
